 h1{
    color:rgb(255, 255, 255);
    font-size: 100px;
    font-style: normal;
    font-family: yuji;
    margin-left: 150px;
    margin-top: -240px;
  }

  h2{
    color:white;
    font-size:100px;
    font-family: yuji;
    margin-top: 60px;
    margin-left: 500px;
  }

  h3{
    color:white;
    font-size:100px;
    font-family: yuji;
    margin-left: 850px;
    margin-top: -520px;
  }

  h4{
    color:white;
    font-size:100px;
    font-family:yu;
    margin-left:1180px;
    margin-top: -70px;
  }


  .line1 {
    border-left: 3px solid rgb(255, 255, 255);
    height:400px;
    margin-left: 200px;
    margin-top:-100px;
   }

  
 .line2 {
    border-left: 3px solid rgb(255, 255, 255);
    height: 620px;
    margin-left:550px;
    margin-top:-400px;
  }

  .line3{
    border-left: 3px solid rgb(255, 255, 255);
    height: 270px;
    margin-left: 900px;
    margin-top:-700px;
  }

  .line4{
    border-left: 3px solid rgb(255, 255, 255);
    height: 450px;
    margin-left: 1230px;
    margin-top:-270px;
  }
  
  a{
    text-decoration: none;
  }
  


  @font-face {
    font-family:yuji ;
    src: url(YujiSyuku-Regular.ttf);
  }

  @font-face {
    font-family:yu ;
    src: url(YujiBoku-Regular.ttf);
  }
  